    <div class="card mx-2 ">

       
        <div class="card-body w-10">

          <div class="d-flex">

            <svg xmlns="http://www.w3.org/2000/svg"  height="30" fill="currentColor" class="bi bi-0-square" viewBox="0 0 16 16">
              <path d="M7.988 12.158c-1.851 0-2.941-1.57-2.941-3.99V7.84c0-2.408 1.101-3.996 2.965-3.996 1.857 0 2.935 1.57 2.935 3.996v.328c0 2.408-1.101 3.99-2.959 3.99M8 4.951c-1.008 0-1.629 1.09-1.629 2.895v.31c0 1.81.627 2.895 1.629 2.895s1.623-1.09 1.623-2.895v-.31c0-1.8-.621-2.895-1.623-2.895"/>
              <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
            </svg>

    
            <div class="mx-2">

              <h5 class="card-title  fw-bold">Card title</h5>
              <p>Subtitulo</p>

            </div>


          </div>
         

          <div class="d-flex">

            <div>

              <p class="m-0">Rate</p>

              <div class="d-flex ">
  
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <p class="fw-bold">Contenido</p>
  
              </div>
  

            </div>
            
            <div class="mx-4">

              <p class="m-0">Another</p>
  
              <div class="d-flex ">
  
                <p class="fw-bold">Contenido</p>
  
              </div>


            </div>

          </div>

        </div>
      </div>