<div class="mw-100">


    <div class=" d-flex flex-row ">

 

        <div class="col-2  m-2">
    
            <shared-slide-bar></shared-slide-bar>
    
        </div>
    
        
        <div class=" m-2 mw-60">
            
            <div class="m-2">

                <h1>Welcome back Taylor</h1>

                <h5>New courses Avaliable</h5>
    

            </div>

            <div class="d-flex ">

                <shared-targetas></shared-targetas>
                <shared-targetas></shared-targetas>
                <shared-targetas></shared-targetas>


            </div>

            <div class="d-flex mt-4">


                <shared-targetas class="w-50"></shared-targetas>
                <shared-targetas class="w-50"></shared-targetas>


            </div>

            <div class="d-block">

                <h3 class="m-2">Courses that you are taking</h3>

                <shared-targetas class="h-50"></shared-targetas>


            </div>
            
        </div>

        <div class="col-3 m-4">

            <shared-searchBox placeholder="Busque sus cursos"></shared-searchBox>           
            
            <shared-calendar></shared-calendar>

        </div>
    
    
    </div>



</div>