<div>


    <div class=" d-flex flex-row ">

 

        <div class="col-2  m-2">
    
            <shared-slide-bar></shared-slide-bar>
    
        </div>
    
        
        <div class="col-7 m-2">
            
            <div class="m-2">

                <h1>Welcome back Taylor</h1>

                <h5>New courses Avaliable</h5>
    

            </div>

            <div class="d-flex justify-content-between">

                <shared-targetas></shared-targetas>
                <shared-targetas></shared-targetas>
                <shared-targetas></shared-targetas>

            </div>
            
        </div>

        <div class="col m-1">

            <shared-searchBox placeholder="Busque sus cursos"></shared-searchBox>            

        </div>
    
    
    </div>



</div>